
<div class="col-4 py-2">
  <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header text-center"><%= movie.name %></div>
    <%= link_to "Mostrar esta pelicula", movie, class: "btn btn-warning" %>
  </div>
</div>